################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PageHitCount/.vs
/PageHitCount/PageHitCount/bin
/PageHitCount/PageHitCount/obj/Debug
.DS_Store
